.mice-container {
  position: absolute;
  bottom: 10px;
  left: 44%;
  border: 1px solid #8a8787;
  border-radius: 50%;
  width: 26px;
  z-index: 1;
  background-color: #fff;
}

.mice {
  position: relative;
  left: 22%;
}
